{
  "bracketSpacing": true,
  "printWidth": 160,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": [
  "^react(.*)$",
  "^react-(.*)$",
  "^@react(.*)$",
  "^@reduxjs/(.*)$",
  "<THIRD_PARTY_MODULES>",
  "^[./]"
],
  "importOrderSeparation": true
}
